<form action="/somar" method="post">
    Digite 1ยบ valor: <input type="number" name ="v1"><br>
    Digite 2ยบ valor: <input type="number" name ="v2"><br>
    <button type="submit"> somar </button>
</form>